@import "tailwindcss";

@theme inline {
  /* transitions */
  --first-menu-button-span: translateY(8px) rotate(45deg);
  --second-menu-button-span: translateY(-8px) rotate(-45deg);
  
  /* colors */
  --color-black-pearl: #050E1D;
  --color-cod-gray: #1B1B1B;
  --color-shark: #1D1F25;
  --color-viking: #53C1DE;
  --color-white: #FFFCF2;

  /* animations */
  --animate-revealing: reveal 1s ease-in-out;
  @keyframes reveal {
    0% {
      max-height: 0;
    }
    100% {
      max-height: auto;
    }
  }
}

* {
  box-sizing: border-box;
  outline: none;
}
